<div class="container mb-sm-5 mt-sm-5">
	<div class="row">
		<div class="col-md-5 offset-md-1 col-sm-12 text-center">
			<h1>
				<a href="{{ self.url }}">{{ self.url }}</a>
			</h1>
		</div>
	</div>
</div>

<!--{% for post in latest_posts %}
	{{ post.title }} <br />
{% endfor %}-->