{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
	<div class="container mt-5 mb-5 text-center">
		<h1>{{ page.title }}</h1>
		<p>{{ self.thank_you_text|richtext }}</p>
	</div>
{% endblock %}