<!DOCTYPE html>
<html>
	<head>
		<title>Headless news</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<h1>Headless News</h1>
			<router-view></router-view>
		</div>
		<script>
			const API_ROOT = "http://127.0.0.1:8000/api/v2/pages/";
			/* New listing component */
			const NewsListing = {
				template:`
				<div>
					<div v-for="item in news">
						<router-link :to="/news/+ item.id">
							<h2>{{ item.title }}</h2>
						</router-link>
						<p>{{ item.intro }} / {{ item.date }}</p>
					</div>
				</div>
				`,
				data: function () {
					return { news: [] }
				},
				mounted () {
					axios
					.get(API_ROOT + '?type=news.NewsPage&fields=intro,body,date')
					.then(response => (this.news = response.data.items))
				},
			}
			/* News item component */
			const NewsItem = {
				template:`
				<div>
					<router-link to="/">Home</router-link>
					<h1>{{ item.title }}</h1>
					<p v-html="item.body"></p>
					<img v-if="item.image_thumbnail"
						:src="'http://localhost:8000' + image.image_thumbnail.url"
						:width="item.image_thumbnail.width"
						:height="item.image_thumbnail.height"
					>
				</div>
				`,
				data: function () {
					return { item: {} }
				},
				methods: {
					getNews() {
						axios
							.get(API_ROOT + this.$route.params.id + '/')
							.then((response) => (this.item = response.data))
					}
				},
				mounted () {
					this.getNews();
				},
				watch: {
					'$route' (to, from) {
						this.getNews();
					}
				}
			}

			const routes = [
				{ path: '/', component: NewsListing },
				{ path: '/news/:id', component: NewsItem }
			]

			const router = new VueRouter({
				routes
			})

			const app = new Vue({
				router
			}).$mount('#app')
		</script>
	</body>
</html>