<!DOCTYPE html>
<html>
	<head>
		<title>Headless news</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<h1>{{ item.title }}</h1>
			<h2>{{ item.intro }}</h2>
			<span v-for="block in item.streamfield">
				<div v-if="block.type == 'heading'">
					<h2>{{ block.value }}</h2>
				</div>
				<div v-else-if="block.type == 'image'">
					<h2>image: {{ block.value }}</h2>
				</div>
				<div v-else-if="block.type == 'paragraph'"> 
					<p v-html="block.value"></p>
				</div>
			</span>	
		</div>
		<script>
			const app = new Vue({
				el: '#app',
				data () {
					return {
						item: {}
					}
				},
				mounted () {
					axios
					.get('https://localhost:8000/api/v2/pages/12/')
					.then(response => (this.item = response.data))
				}
			})
		</script>
	</body>
</html>