{% extends "joyous/joyous_base.html" %}
{% load static wagtailcore_tags i18n %}

{% block content %}
<div class="content joy-content container">
  <div class="joy-title joy-title--page">
    <h1 class="col-sm" style="background-color: #33adff">{{ page.title }}</h1>
  </div>
  <div class="col-sm" style="background-color: #ccebff">
    {% block cal_all %}
    {% block cal_intro %}
    {{ page.intro|richtext }}
    {% endblock cal_intro %}
    {% block view_choices %}
    {% endblock view_choices %}
    {% block cal_subtitle %}
    {% endblock cal_subtitle %}
    {% block cal_events %}
  </div>
  <div data-version="{{ version }}"></div>
  {% endblock cal_events %}
    {% block cal_footer %}
      <div class="joy-export">
        <a class="btn btn-primary" href="{{ request.path }}?format=ical">{% trans "Export iCal" %}</a>
      </div>
    {% endblock cal_footer %}
  {% endblock cal_all %}
</div>
{% endblock %}
