{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
	{% image self.banner_image fill-1200x300 as banner %}
	<img src="{{ banner.url }}" alt="{{ banner.alt }}" style="width: 100%; height: auto;">

	{# Check if there are tags #}
	{% if page.tags.count %}
		<br /><h1>Tags:</h1>
		{% for tag in page.tags.all %}
			{# Loop through all the existing  tags #}
			<a href="/blog/?tag={{ tag.slug }}">{{ tag }}</a><br />
		{% endfor %}
	{% endif %}

	<div class="container mt-5 mb-5">
		<div class="text-center">
			<h1>{{ self.custom_title }}</h1>
			{% if self.categories.count %}
				<div style="padding: 0 20px 20px">
					{% for cat in self.categories.all %}
						<a href="{{ self.get_parent.url  }}?category={{ cat.slug }}">
							{{ cat.name }}
						</a>
						{% if not forloop.last %}
							,
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<div class="d-flex justify-content-center">
			{% for iter in self.blog_authors.all %}
				{% image iter.author.image fill-50x50 as img %}
				<li>
					<img src="{{ img.url }}" alt="{{ iter.author.name }}">
					{{ iter.author.name }}
					{% if iter.author.website %}
						<a href="{{ iter.author.website }}">
							(website)
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				{% for block in self.content %}
					{% include_block block %}
				{% endfor %}
			</div>
		</div>	
	</div>

{% endblock %}