{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags cache %}

{% block content %}

    <a href="{% routablepageurl page 'latest_posts' %}">View Latest Posts Only</a>

    <h2>
        Categories:
        <small>
            {% for cat in categories %}
                <a href="{% routablepageurl page 'category_view' cat.slug %}">
                    {{ cat.name }}
                </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </small>
    </h2>

    <div class="container">
        {% for post in posts %}
            {% cache 604800 blog_post_preview post.id %}
                <div class="row mt-5 mb-5">
                    <div class="col-sm-3">
                        {% image post.banner_image fill-250x250 as blog_img %}
                        <a href="{{ post.url }}">
                            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}" style='width: 100%;'>
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <a href="{{ post.url }}">
                            <h2>{{ post.custom_title }}</h2>
                            {% if post.specific.subtitle %}
                                <p>{{ post.specific.subtitle }}</p>
                            {% endif %}

                            {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
                            <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>
                        </a>
                    </div>
                </div>
            {% endcache %}
        {% endfor %}
    </div>

    {# Only show pagination if there is more than one page to click through #}
    {% if posts.paginator.num_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in posts.paginator.page_range %}
                            <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                                <a href="?page={{ page_num }}" class="page-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if posts.has_next %}
                            <li class="page-item">
                                <a href="?page={{ posts.next_page_number }}" class="page-link">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><br>
    {% endif %}

{% endblock content %}