{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block content %}

	<div class="container">
		<h1 class="mt-2">Latest Posts</h1>
		{% for post in posts %}
			<div class="row mt-5 mb-5">
				<div class="col-sm-3">
					{% image post.blog_image fill-250x250 as blog_img %}
					<a href="{{ post.url }}">
						<img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
					</a>
				</div>
				<div class="col-sm-9">
					<a href="{{ post.url }}">
						<h2>{{ post.custom_title }}</h2>
						{# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
						<a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>
					</a>
				</div>
			</div>
			{{ post.title }}
			<br />
		{% endfor %}
	</div>

{% endblock content %}