{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1>{% trans "Sign Out" %}</h1>

				<p>{% trans 'Are you sure you want to sign out?' %}</p>

				<form method="post" action="{% url 'account_logout' %}">
				  {% csrf_token %}
				  {% if redirect_field_value %}
				  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
				  {% endif %}
				  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}