{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1>{% trans "Sign Up" %}</h1>

				<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

				<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
					{% csrf_token %}
					{{ form.as_p }}
					{% if redirect_field_value %}

					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}

					<button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
					
				</form>
			</div>
		</div>
	</div>

{% endblock %}