{% load static wagtailuserbar menus_tags cache %}
{% load i18n wagtailcore_tags %}

{% get_menu "main" as navigation %}

{% if page %}
    {% for translation in page.get_translations.live %}
        {% get_language_info for translation.locale.language_code as lang %}
        <div style="background: black">
          <a class="btn btn-outline-light btn-sm" href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
              {{ lang.name_local }}
          </a>
        </div>
    {% endfor %}
{% endif %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <a class="navbar-brand" href="#">StartLife</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">
                        Home
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  {% cache 604800 navigation %}
                    {% for item in navigation.menu_items.all %}
                      <li>
                        <a href="{{ item.link }}" class="nav-link" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
                          {{ item.title }}
                        </a>
                      </li>
                    {% endfor %}
                  {% endcache %}
                </ul>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    {% if request.user.is_authenticated %}
                      Hi {{ request.user.username }}
                      <a href="{% url 'account_logout' %}" class="nav-link d-inline">Logout?</a>
                    {% else %}
                      Hi Guest!
                      <a href="{% url 'account_login' %}" class="nav-link d-inline">Login?</a>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </nav>


        {% block content %}{% endblock %}

        {% cache 604800 footer %}
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                {% if settings.site_settings.SocialMediaSettings.facebook %}
                  <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.twitter %}
                  <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}">
                    <i class="fab fa-twitter"></i>
                  </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.youtube %}
                  <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}">
                    <i class="fab fa-youtube"></i>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endcache %}

        {# Global javascript #}

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
